.button {
    -fx-pref-width: 200;
    -fx-pref-height: 210;
    -fx-border-color: #45a29e;
    -fx-background-size:200 180;
    -fx-background-repeat: no-repeat;
    -fx-background-position: top;
    -fx-alignment: bottom-center;
    -fx-background-color: transparent;
    -fx-text-fill: #FFFFFF;
}
#gameList{
    -fx-background-color: #1f2833;
    -fx-alignment: top-left;
}

