.label{
    -fx-text-fill: #66FCF1;
    -fx-font-family: "Sabo";
    -fx-border-color: white;
}

#topLogo{
    -fx-background-color: #0b0c10;
}
#companyName{
    -fx-font-size: 50;
    -fx-alignment: center;
}
#launcherName{
    -fx-font-size: 100;
}