.blueFate{
    -fx-stroke: radial-gradient(center 50% 50%,radius 100%, white 30%, #0082e6);
    -fx-stroke-width: 100;
    -fx-stroke-type: inside;
}
.kappa{
    -fx-fill: radial-gradient(center 50% 50%,radius 100%, Transparent 1%,blue);
}
.redFate{
    -fx-stroke: radial-gradient(center 50% 50%,radius 100%, white 30%, #e62000);
    -fx-stroke-width: 100;
    -fx-stroke-type: inside;
}
.yellowFate{
    -fx-stroke: radial-gradient(center 50% 50%,radius 100%, white 30%, #ffff00);
    -fx-stroke-width: 100;
    -fx-stroke-type: inside;
}
